{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Ratings</h2>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Beer Name</th>
            <th>Beer Rating</th>
            <th>Notes</th>
          </tr>
          </thead>
          <tbody>
          {% for rating in ratings %}
            <tr>
              <td>{{ rating.beer_name }}</td>
              <td>{{ rating.score }}</td>
              <td>{{ rating.notes }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div><a href="{% url 'rating-add' %}" class="btn btn-primary">New</a></div>
      </div>
    </div>
  </div>
{% endblock %}